<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/css/main.css">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body class="bg-dark mainbg">

    <h3 class="mx-5 my-3 shadow-lg">XMAP - Cross Site Scripting Vulnerability Scanner</h3>
    <nav class="navbar navbar-expand navbar-dark shadow-lg" id="headbar">
        <div class="nav navbar-nav mx-3 justify-content-around">
            <a class="nav-item nav-link active" href="/" aria-current="page" id="navtext">Home</a>
            <a class="nav-item nav-link active" href="#" aria-current="page" id="navtext">About</a>
        </div>
    </nav>

    <h1 class="m-2 p-5 text-center">XMAP - Web Based reflected XSS detection suite</h1>
    <div class="container justify-content-center">
        <p>XMAP can be used to test your own website for possible reflected cross site scripting attack vectors. It is simple and easy to use, capable of doing shallow or in-depth scans</p>
        <p>The website owner will not be held liable for any actions done using this tool that are in conflict with the law.</p>
        <p>The user MUST use this tool responsibly and preferably to test his OWN website</p>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>