<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XMap - Site Scan</title>
</head>
<body>
    <input type="hidden" value="{{id}}" id="job_id">
    <script>
        let jobId = document.querySelector("#job_id").value
        async function getScanStatus(){
            await fetch(`/scan_status?id=${jobId}`).then(response => response.json()).then( scan_status_json => {
                console.log(scan_status_json);
                // do not forget to progressively fill the UI with info that the scan gathers
                if(scan_status_json["finished"]){
                    console.log(scan_status_json);                
                }
                else{
                    console.log("Operation not finished yet")
                }
            }).catch(error => console.log(error));
        }
        setInterval(getScanStatus,2000)

        
    </script>
</body>
</html>