<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XMap - Site Scan</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark" id="headbar">
        <div class="nav navbar-nav mx-3">
            <a class="nav-item nav-link active" href="/" aria-current="page" id="navtext">Home</a>
        </div>
    </nav>
    <input type="hidden" value="{{id}}" id="job_id">
    <div class="container m-3 p-3" id="scan_list">

    </div>
    <div class="jumbotron bg-dark" id="scan_template" style="display : none;">
        <h1 class="display-4" id="vulntitle">Scanned Url</h1>
        <p class="lead" id="vulndesc">This is a simple hero unit, a simple jumbotron-style component for calling extra
            attention to
            featured content or information.</p>
        <hr class="my-4">
        <p id="metadata">It uses utility classes for typography and spacing to space content out within the larger
            container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    <script>
        // For each scanned url, you use a hidden jumbotron template to create a jumbotron with the scan information
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        let jobId = document.querySelector("#job_id").value
        let scanJumbotronTemplate = document.getElementById("scan_template")
        const scanList = document.getElementById("scan_list")
        async function getScanStatus() {
            finished = false
            while (finished == false) {
                await new Promise(r => setTimeout(r, 2000));
                await fetch(`/scan_status?id=${jobId}`).then(response => response.json()).then(scan_status_json => {
                    console.log(scan_status_json);
                    // do not forget to progressively fill the UI with info that the scan gathers
                    if (scan_status_json["finished"]) {
                        finished = true
                    }
                    else {
                        console.log("Operation not finished yet")
                    }

                    if (scan_status_json["vulns"].length != 0) {
                        console.log(scan_status_json["vulns"])
                        for (let i = 0; i < scan_status_json["vulns"].length; i++) {
                            let vulnerability = scan_status_json["vulns"][i];
                            let jumbotronClone = document.importNode(scanJumbotronTemplate, true);
                            console.log(vulnerability["type"])
                            jumbotronClone.style = ""
                            jumbotronClone.querySelector("#vulntitle").innerText = `Found ${vulnerability['type'].split(".")[1]} vulnerability`
                            jumbotronClone.querySelector("#vulndesc").innerText = `Vulnerability of parameter ${vulnerability["parameter"]} in link ${vulnerability["link"]}`
                            jumbotronClone.querySelector("#metadata").innerText = `Payload: ${vulnerability['payload']}`
                            scanList.append(jumbotronClone)
                        }
                        console.log(scan_status_json);
                    }
                }).catch(error => console.log(error));
            }
        }

        function askLoop() {
            finished
        }
        getScanStatus();

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>